:root {
    --fs-s: 14px;
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 37px;
    --fs-xl: 64px;
    /* ===color-==== */
    --clr-white: #FFFFFF;
    --clr-navGreen: #12121299;
    --clr-btnBlack: #111111;
    --clr-parretGreen: #BAFF00;
    --clr-bodygreen: #0C0C0C;
    --clr-greenIconBox: #BAFF001A;
    --clr-lightWhite: #FFFBFF;
    --clr-borderGren: #BAFF0066;
}

.color-lightWhite {
    color: var(--clr-lightWhite);
}

.color-bdoyGreen {
    background: var(--clr-bodygreen);
}

.color-parretGreen {
    color: var(--clr-parretGreen);
}

.color-btnBlack {
    color: var(--clr-btnBlack);
}

.color-navGreen {
    background: var(--clr-navGreen);
}

.color-white {
    color: var(--clr-white);
}

.text14-s {
    font-size: var(--fs-s);
}

.text16-sm {
    font-size: var(--fs-sm);
}

.text24-md {
    font-size: var(--fs-md);
}

.text48-lg {
    font-size: var(--fs-lg);
}

.text64-xl {
    font-size: var(--fs-xl);
}

@media (min-width:576px) {
    :root {
        --fs-lg: 48px;
        --fs-md: 24px;
    }
}

@media (min-width:992px) {
    :root {
        /* --fs-s: 14px; */
        /* --fs-sm: 16px; */
        /* --fs-md: 24px; */
        /* --fs-lg: 48px; */
        /* --fs-xl: 64px; */
    }
}