@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(../css/root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff_outfit {
    font-family: 'Outfit', sans-serif;
}

.opacity_60 {
    opacity: 60%;
}

.opacity_80 {
    opacity: 80%;
}

.opacity_90 {
    opacity: 90%;
}

/* =========font-weight========= */
.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

/* ===========line-height=========== */
.lh-21 {
    line-height: 21px;
}

.lh-24 {
    line-height: 24px;
}

.lh-26 {
    line-height: 26px;
}

.lh-33 {
    line-height: 33px;
}

.lh-52 {
    line-height: 52px;
}

.lh-57 {
    line-height: 57px;
}

.lh-61 {
    line-height: 61.76px;
}

.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nav_container_1350 {
    max-width: 1350px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* ===========hero========== */
.bg_hero {
    background-image: url(../images/png/hero-bg.png);
    background-size: cover;
    background-position: center;
}

.nav_box {
    background: var(--clr-navGreen);
}

.h_90 {
    height: 90px;
}

.max_w_582 {
    max-width: 582px;
}

.gap_32 {
    gap: 32px;
}

.gap_40 {
    gap: 40px;
}

.mb_33 {
    margin-bottom: 33px;
}

.mb_35 {
    margin-bottom: 35px;
}

.min-vh-70 {
    min-height: 70vh;
}

.btnn_styling {
    background: var(--clr-parretGreen);
    padding: 14px 28px;
    border-radius: 24px;
    border: 2px solid transparent;
    transition: all 0.2s linear;
    /* border: none; */
    /* position: relative; */
    /* overflow: hidden; */
    /* z-index: 2; */
}

/* .btnn_styling::after {
    content: "";
    position: absolute;
    border: none;
    padding: 14px 28px;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 24px;
    transition: 0.3s linear;
    opacity: 0;
    z-index: -1;
} */

/* .btnn_styling:hover::after {
    opacity: 1;
    left: 0%;
    overflow: hidden;
} */

.btnn_styling:hover {
    color: var(--clr-parretGreen);
    background: var(--clr-white);
    border: 2px solid var(--clr-parretGreen);
    box-shadow: 10px 10px 15px -2px var(--clr-parretGreen);
}

.nav_links_underlin {
    transition: all 0.2s linear;
}

.nav_links_underlin::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--clr-parretGreen);
    left: 50%;
    transform: translatex(-50%);
    bottom: -2px;
    transition: all 0.2s linear;
}

.nav_links_underlin:hover::after {
    width: 100%;
}

.nav_links_underlin:hover {
    color: var(--clr-parretGreen);
}

.hero_linear_grident {
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.44) 25.4%, rgba(17, 17, 16, 0.29) 25.4%, #0C0C0C 70.63%);
    width: 100%;
    height: 126px;
    filter: blur(-41px);
}

.bottom_9 {
    bottom: 9px;
}

.cross span:nth-child(1) {
    transform: rotate(49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: 0px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: -22px;
}

/* =========box========= */
.data_box {
    border: 1px solid var(--clr-greyDataBox);
    padding: 25px;
    border-radius: 24px;
}

.bg_dataBox {
    background-image: url(../images/png/box_bg_img.png);
    background-size: cover;
    background-position: center;
}

.max_w_179 {
    max-width: 179px;
}

/* ==============are-you-sure========== */
.mb_5 {
    margin-bottom: 5px;
}

.max_w_628 {
    max-width: 628px;
}

.py_5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.position_sureRight {
    top: 5%;
}

.sure_linearGrident {
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.44) 25.4%, rgba(17, 17, 16, 0) 25.4%, #0C0C0C 70.63%);
    width: 100%;
    min-height: 104px;
    filter: blur(17px);
    z-index: 1;
}

.bottom_26 {
    bottom: -26px;
}

/* =============servise============= */
.max_w_328 {
    max-width: 328px;
}

.max_w_319 {
    max-width: 319px;
}

.max_w_581 {
    max-width: 581px;
}

.green_line::after {
    content: "";
    position: absolute;
    border-left: 1.5px solid;
    border-image: linear-gradient(97.95deg, rgba(186, 255, 0, 0.6) 3.73%, rgba(0, 178, 254, 0.6) 113.03%)1;
    width: 3px;
    height: 100%;
    top: 0;
    left: 5px;
}

.servise_bg_img {
    background-image: url(../images/png/our-servisebg-img.png);
    background-size: cover;
    background-position: center;
}

.servise_IconBox {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background: var(--clr-greenIconBox);
}

.servise_box {
    background: #121818;
    border: 1px solid var(--clr-greyDataBox);
    max-width: 369px;
    min-height: 318px;
    border-radius: 16px;
    transition: all 0.2s linear;
    cursor: pointer;
    margin-bottom: 0;
}

/* .serviseBox_bg{
    backgro
} */

.serviseBox_padding1 {
    padding: 40px 22px 64px 18px;
}

.serviseBox_padding2 {
    padding: 40px 28px 40px 27px;
}

.serviseBox_padding3 {
    padding: 40px 31px 64px 27px;
}

.servise_box:hover {
    border: 1px solid var(--clr-parretGreen);
}

.position_servise_grident {
    bottom: -106px;
}

/* =================further-servise========== */
.bg_further {
    background-image: url(../images/png/further_servise_bg.png);
    background-size: cover;
    background-position: center;
}

.small_greenLine {
    content: "";
    position: absolute;
    border-left: 1.5px solid;
    border-image: linear-gradient(97.95deg, rgba(186, 255, 0, 0.6) 3.73%, rgba(0, 178, 254, 0.6) 113.03%)1;
}

.position_furtherEllip {
    top: -41%;
}

.further_ellip2 {
    width: 520px;
    height: 350px;
    background: #23C1CE;
    opacity: 12%;
    filter: blur(55px);
    top: 20%;
    right: 12%;
}

/* =============map-section============ */
.max_w_725 {
    max-width: 725px;
}

.map_ellip1 {
    width: 447px;
    height: 397px;
    background: #7CF623;
    filter: blur(135px);
    opacity: 10%;
    top: 25%;
    right: 12%;
}

.map_ellip2 {
    width: 520px;
    height: 350px;
    background: #BAFF00;
    filter: blur(135px);
    opacity: 10%;
    left: 22%;
}

.ellip_modification {
    min-height: 397px;
    max-width: 447px;
}

.top_40 {
    top: 40%;
}

.pb_60 {
    padding-bottom: 60px;
}

.py_80_170 {
    padding-top: 80px;
    padding-bottom: 170px;
}

/* =============input-section============= */
.mb_15 {
    margin-bottom: 15px;
}

.pb_140 {
    padding-bottom: 140px;
}

.touch_bg {
    background-image: url(../images/png/touch-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.border_none {
    border: none;
    outline: none;
}

.input_box {
    max-width: 508px;
    background: #BAFF000F;
    border: 1px solid var(--clr-borderGren);
    border-radius: 48px;
    outline: transparent;

}

/* ==================footer============ */
.py_48_62 {
    padding-top: 48px;
    /* padding-bottom: 62px; */
}

.py_12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.mb_12 {
    margin-bottom: 12px;
}

.mb_2 {
    margin-bottom: 2px;
}

.gap_10 {
    gap: 10px;
}

.bg_grident {
    background: linear-gradient(180deg, rgba(46, 57, 39, 0.15) 0%, rgba(40, 40, 40, 0) 103.89%);
}

.footer_IconBox {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 56px;
    background: linear-gradient(97.95deg, rgba(186, 255, 0, 0.1) 3.73%, rgba(0, 178, 254, 0.1) 113.03%);
}

.border_bottom {
    border: 0.5px solid var(--clr-whiteFC);
    opacity: 40%;
    margin-top: 62px;
}

.footer_ellipPosition {
    width: 447px;
    height: 397px;
    background: #7CF623;
    opacity: 2%;
    filter: blur(50px);
    right: 0;
    top: -55%;
}

@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: black;
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: white;
        transition: all 300ms linear;
    }

    .justify_content_center {
        justify-content: center;
    }

    .max_w_467 {
        max-width: 467px;
    }

    .touch_box {
        padding: 10px;
        max-width: 1140px;
        min-height: 332px;
        border: 1px solid var(--clr-greyDataBox);
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }

}

@media (max-width:768px) {
    .h_100 {
        height: 100px;
    }

    .w_200 {
        width: 200px;
    }
}

@media (min-width:576px) {
    .py_sm_40_60 {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

@media (min-width:768px) {
    .data_box {
        padding: 36px 75px 36px 41px;
    }

    .min-vh-md-100 {
        min-height: 100vh;
    }

    .mb_md_10 {
        margin-bottom: 10px;
    }

    .mb_md_33 {
        margin-bottom: 33px;
    }

    .mb_md_18 {
        margin-bottom: 18px;
    }
}

@media (min-width:992px) {
    .max_w_511 {
        max-width: 511px;
    }

    .max_w_527 {
        max-width: 527px;
    }

    .max_w_507 {
        max-width: 507px;
    }

    .max_w_520 {
        max-width: 520px;
    }

    .max_w_513 {
        max-width: 513px;
    }

    .max_w_373 {
        max-width: 373px;
    }

    .py_lg_103_190 {
        padding-top: 103px;
        padding-bottom: 190px;
    }

    .pt_lg_40 {
        padding-top: 40px;
    }

    .row_gap_10 {
        row-gap: 10px;
    }

    .position_sureRight {
        top: -24%;
    }

    .touch_box {
        padding: 64px 256px;
        border: 1px solid var(--clr-greyDataBox);
        border-radius: 24px;
        position: relative;
        z-index: 1;
    }
}

@media (min-width:1200px) {
    .servise_box {
        margin-bottom: 43px;
    }
}